{{ 'component-countdown-timer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'countdown-timer.js' | asset_url }}" defer="defer"></script>
{% liquid
  assign number_size = number_size | default: 'h3'

  assign display_text = false
  assign style = style | default: 'number'
  if style == "with_text"
    assign display_text = true
  endif
%}
<countdown-timer
  id="countdown-timer-{{ id }}"
  class="countdown-timer hidden no-js-hidden"
  data-countdown-timer="{{ time }}">
  <motion-element class="countdown-timer__inner inline-flex items-center justify-center" data-motion-delay="{{ motion_delay }}" data-motion="fade-up">
    <div class="countdown-timer__block">
      <div class="countdown-timer__day {{ number_size }}" data-timer-day>00</div>
      {% if display_text %}
        <span class="text-subtext">{{ 'sections.countdown-timer.days' | t }}</span>
      {% endif %}
    </div>
    <div class="countdown-timer__block">
      <div class="countdown-timer__hour {{ number_size }}" data-timer-hour>00</div>
      {% if display_text %}
        <span class="text-subtext">{{ 'sections.countdown-timer.hours' | t }}</span>
      {% endif %}

    </div>
    <div class="countdown-timer__block">
      <div class="countdown-timer__minute {{ number_size }}" data-timer-minute>00</div>
      {% if display_text %}
        <span class="text-subtext">{{ 'sections.countdown-timer.minutes' | t }}</span>
      {% endif %}
    </div>
    <div class="countdown-timer__block">
      <div class="countdown-timer__sec {{ number_size }}" data-timer-second>00</div>
      {% if display_text %}
        <span class="text-subtext">{{ 'sections.countdown-timer.seconds' | t }}</span>
      {% endif %}
    </div>
  </motion-element>
</countdown-timer>