<!doctype html>
<html class="no-js{% if cart != empty %} cart-has-items{% endif %}" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{- page_title -}}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- if template == 'password' -%}
        {{- shop.name -}}
      {%- else -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      {%- endif -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- liquid
      render 'meta-tags'
      render 'css-variables'

      echo 'vendor.css' | asset_url | stylesheet_tag: preload: true
      echo 'theme.css' | asset_url | stylesheet_tag: preload: true
    -%}
{{ 'home-page-bottom.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}

    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {%- if request.design_mode -%}
      <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- render 'js-variables' -%}

    {% comment %} Custom metafield for head tag like GTag tracking {% endcomment %}
    {{ shop.metafields.foxtheme.code_head.value }}
    {% comment %} End custom metafield for head tag like GTag tracking {% endcomment %}
  </head>

  <body
    class="{{ request.page_type }}-template blocks-corner--{{ settings.blocks_corner_radius }}{% if request.design_mode %} shopify-design-mode{% endif %}"
    data-initializing
  >
    {% comment %} Custom metafield for body tag like GTag tracking {% endcomment %}
    {{ shop.metafields.foxtheme.code_body.value }}
    {% comment %} End custom metafield for body tab like GTag tracking {% endcomment %}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- liquid
      if settings.enable_page_transition
        render 'page-transition'
      endif
    -%}

    <div class="site-wrapper min-height-screen">
      {% sections 'header-group' %}

      <main id="MainContent" class="main-content content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>

      {% sections 'footer-group' %}
    </div>

    {% sections 'overlay-group' %}
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    {% if settings.pcard_show_quickview_button or settings.pcard_choose_options_actions == 'open_popup' %}
      <script src="{{ 'quick-view.js' | asset_url }}" defer="defer"></script>
    {% endif %}

    <script src={{'splide.min.js' | asset_url }}></script>

    <!-- Initialize SplideJS -->
    <script>
      new Splide('#splide', {
        perPage: 1,          // Number of slides visible at once
        perMove: 1,          // Moves one slide at a time
        drag: true,    
      }).mount();
    </script >
  </body>
</html>
