{% schema %}
{
  "name": "Laundry Instruction",
  "settings": [
    {
      "type": "richtext",
      "id": "title_text",
      "label": "Heading Text",
      "default": "<p>Type text here</p>"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#1F212A"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title Font Size (px)",
      "min": 10,
      "max": 100,
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "step_image",
          "label": "Step Image"
        },
        {
          "type": "text",
          "id": "step_description",
          "label": "Step Description",
          "default": "1 sheet for a small load"
        },
        {
          "type": "range",
          "id": "step_font_size",
          "label": "Step Font Size (px)",
          "min": 10,
          "max": 50,
          "default": 18
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Laundry Instruction",
      "category": "Custom",
      "blocks": [
        {
          "type": "step",
          "settings": {
            "step_description": "<p>1 sheet for a small load</p>"
          }
        },
        {
          "type": "step",
          "settings": {
            "step_description": "<p>2 sheets for a medium load</p>"
          }
        },
        {
          "type": "step",
          "settings": {
            "step_description": "<p>3 sheets for a large load</p>"
          }
        }
      ]
    }
  ]
}

{% endschema %}

  <div class="container-wrapper">
    <div class="container">
      <div class="instruction">
        <h1 class="steps-header">{{ section.settings.title_text }}</h1>
      </div>
    
      <div class="steps-container">
        {% for block in section.blocks %}
          {% if block.type == 'step' %}
            <div class="steps step-{{ forloop.index }}">
              <div class="step-img-txt-holder">
                {% if block.settings.step_image %}
                  <img src="{{ block.settings.step_image | img_url: 'medium' }}" alt="" />
                {% else %}
                  <div class="empty-image-placeholder">NO IMAGE</div>
                {% endif %}
                <p>{{ block.settings.step_description }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>




<style>
  .container-wrapper {
    background: #F2FBFD;
  }
  
  .steps-header {
    color: {{ section.settings.title_color }};
    font-size: {{ section.settings.title_font_size }}px;
    line-height: 41.6px;
    font-weight: 600;
  }

  .steps-header p {
    margin: unset;
  }

  .container {
    background-color: rgba(0, 167, 225, 0.12);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 30px 70px;
    width: 1216px;
    max-width: 100%;
    height: 213px;
  }

  .instruction {
    max-width: 361px;
    width: 100%;
    height: 84px;
    background: yellow;
  }

  .steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .steps-container .steps:nth-child(-n+2) {
    border-right: 2px dashed #96b1c3;
  }

  .steps {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F212A;
    background: teal;
    max-width: 259.8px;
    min-width: 150px;
    width: 100%
  }

  .step-img-txt-holder {
    background: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 153px;
  }
  
  .step-img-txt-holder img {
    height: 99px;
    width: 105px;
  }



  .step-img-txt-holder .empty-image-placeholder {
    width: 99px;
    height: 99px;
    border: 5px solid violet;
  }


  .step-img-txt-holder p {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    line-height: 25.2px;
    width: 130px;
    margin: unset;
  }

  

  @media screen and (max-width: 860px) {
    .container-wrapper {
      padding: 0 20px;
    }
    
    .container {
      flex-direction: column;
      height: fit-content;
      padding: 30px 0 0;
    }

    .steps-container {
      flex-direction: column;
      width: unset;
    }

    .steps-container .steps:nth-child(-n+2) {
      border-right: unset;
      border-bottom: 2px dashed #96b1c3;
    }

    .instruction {
      width: 277px;
      height: 80px;
      margin: unset;
      font-size: 31px;
      line-height: 40.3px;
    }

    .steps-header {
      text-align: center;
    }

    .steps {
      flex-direction: unset;
      padding: 2rem 0;
      height: 122px;
    }
    
    .step-img-txt-holder {
      flex-direction: row;
      height: 70px;
      width: 213px;
    }

    .step-img-txt-holder img {
      height: 70px;
      width: 74.24px;
    }

    .step-img-txt-holder p {
      font-size: 16px;
      line-height: 25.6px;
      width: unset;
      margin-left: 8px;
    }


    {% for block in section.blocks %}
      {% if block.type == 'step' %}
        .step-{{ forloop.index }} p {
          text-align: unset;
        }
      {% endif %}
    {% endfor %}
  }

  @media screen and (min-width: 300px) {
    /* FOR STYLE DEBUGGING ONLY */
    .instruction,
    .steps-container * {
      background: none !important;
    }
  }


  
</style>
